# =============================================================================
# Server - Backend
# =============================================================================

# Flask
SECRET_KEY=your_secret_key_here
DEBUG=False
SERVER_PORT=5000

# Bitcoin node
BTC_RPC_ENDPOINT=http://localhost:18443
BTC_RPC_USER=your_btc_rpc_user
BTC_RPC_PASS=your_btc_rpc_password

# Ethereum node
ETH_RPC_ENDPOINT=http://localhost:8545















